.container {
    position: relative;
    top: 60px;
    width: 100%;
    display: block;
}

.content1 {
    width: 100%;

    text-align: center;

    img {
        border-radius: 50%;
    }
}

.content2 {
    width: 100%;
    align-items: center;
    justify-content: space-between;

    text-align: center;
    h4 {
        text-align: center;
        font-size: 23px;
    }
    input {
        font-size: 20px;
        height: 80px;
        min-width: 600px;
        border-bottom: 1px solid black;
    }
}
