.container {
    position: relative;
    top: 60px;
    width: 100%;
    display: block;
}

// đi chung
// display: flex;
// justify-content: center;
// align-items: center;

.about {
    width: 100%;
    display: flex; // ảnh hưởng đến con của nó, còn cháu thì không sao // hiện thị tất cả nằm ngang trên cùng 1 hàng
    // text-align: center;
    padding-top: 70px;
    align-items: center; // căn giữa trên dưới
    justify-content: center;

    img {
        border-radius: 50%;
    }
    .about_1 {
        margin-left: 100px;
        display: flex;
        font-size: 23px;
        label {
            padding-right: 60px;
        }
        div div {
            margin-top: 25px;
            display: flex;
            justify-content: space-between;
            padding-top: 4px;
        }
    }
}

.textarea {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    div {
        width: 80%;
        height: 250px;
        border-radius: 20%;
        border: 1px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.skills {
    width: 100%;
    text-align: center;
    font-size: 23px;
    div {
        margin-top: 20px;
        display: flex;
        justify-content: center;
    }
    div div {
        width: 30%;
        padding-bottom: 10px;
        display: inline;
        border: 1px solid black;
        margin-right: 30px;
        background-color: gainsboro;
        p {
            padding-top: 10px;
            background-color: black;
            color: brown;
        }
    }
    .skills_1 {
        width: 96%;
        display: block;
        border: 1px solid black;
        margin-right: 30px;
        background-color: gainsboro;
        p {
            padding-top: 10px;
            background-color: black;
            color: brown;
        }
    }
}

.projects {
    width: 100%;
    text-align: center;
    font-size: 23px;
}
.contact {
    width: 100%;
    align-items: center;
    justify-content: space-between;

    text-align: center;
    font-size: 23px;
    h4 {
        text-align: center;
    }
    input {
        font-size: 20px;
        height: 80px;
        min-width: 600px;
        border-bottom: 1px solid black;
    }
}

.about_icon {
    border: 1px solid red;
    border-radius: 50%;
    color: black;
}
.about_icon:hover {
    background-color: lightblue;
}

.backtotop {
    width: 100%;
    position: fixed;
    bottom: 20px;
    left: 1850px;
}
.icon:hover {
    color: red;
    transform: rotateZ(360deg);
    transition: 0.7s;
}
